body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas: "sidebar main";
  height: 100vh;
}

.dashboard {
  display: contents;
}

.sidebar {
  grid-area: sidebar;
  background-color: #007bff;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.main-header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: #f8f9fa;
  border-bottom: 2px solid #e0e0e0;
}

.search-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search input {
  padding: 10px 15px;
  border: 1px solid #dcdfe3;
  border-radius: 20px;
  width: 180%;
  background-color: #ffffff;
  font-size: 1rem;
}

.right-header {
  display: flex;
  align-items: center;
  gap: 30px;
}

.right-header img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.right-header p {
  font-size: 1.2rem;
  color: #333;
}

.user-info {
  display: flex;
  gap: 50px;
  margin-top: 20px;
}

.user-info p {
  font-size: 1.1rem;
  color: #444;
  margin: 0;
}

.user-info img {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: flex-start;
}

.button-header {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin-right: 50px;
}

.button-header button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 12px 24px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-header button:hover {
  background-color: #0056b3;
}
